<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Bhai</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: url('static/background.jpg') no-repeat center center fixed;
            background-size: cover;
        }

        .jumbotron {
            margin-top: 0; /* Remove default top margin */
            background-color: rgba(255, 255, 255, 0.5);
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to AI Bhai!</h1>
            <p class="lead">A platform for managing your social media campaign using AI-generated content.</p>
            <hr class="my-4">
            <a class="btn btn-primary" href="/dashboard" role="button">Dashboard</a>
            <a class="btn btn-secondary" href="/add-post" role="button">Schedule New Post</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
