{% extends 'base.html' %}

{% block body %}
    <div class="container mt-5">
        <div class="card mx-auto" style="max-width: 25rem;">
            <div class="card-body">
                <!-- Flash Message -->
                {% if flash_msg %}
                <div class="alert alert-warning" role="alert">
                    {{ flash_msg[0] }}
                </div>
                {% endif %}
                <!-- End Flash Message-->
                <h2 class="card-title text-center">Login</h2>
                <form method="post" action="{{ url_for('login') }}">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
